{% extends "layout.html" %}

{% block title %}
social
{% endblock %}

{% block main %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container" style="padding-bottom:30px">
    <canvas id="lineChart"></canvas>
    <script>
        ctx = document.getElementById('lineChart')
        chart = create_linechart({{ datasets_14d | safe }}, {{ labels_14d | safe }}, ctx);
    </script>
</div>
<button type="button" class="btn btn-primary" id="last_days_button">Last 15 days</button>
<button type="button" class="btn btn-primary" id="full_history_button">Full history</button>
<script>
    last_days_button.addEventListener(
        'click',
        function () {
            chart.destroy()
            ctx = document.getElementById('lineChart')
            chart = create_linechart({{ datasets_14d | safe }}, {{ labels_14d | safe }}, ctx)
        }
    );
    full_history_button.addEventListener(
        'click',
         function () {
                chart.destroy()
                ctx = document.getElementById('lineChart')
                chart = create_linechart({{ datasets_hist | safe }}, {{ labels_hist | safe }}, ctx)
            }
    );
</script>

{% endblock %}